.main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  overflow-x: hidden;
  position: relative;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top:1rem;
  row-gap: clamp(4rem, 5vw, 5rem);
}
